HELP.md
.gradle
/server/build/
!server/gradle/wrapper/gradle-wrapper.jar

### STS ###
/server/.apt_generated
/server/.classpath
/server/.factorypath
/server/.project
/server/.settings
/server/.springBeans
/server/.sts4-cache

### IntelliJ IDEA ###
*.idea
*.iws
*.iml
*.ipr
*/out/

### NetBeans ###
/server/nbproject/private/
/server/nbbuild/
/server/dist/
/server/nbdist/
/server/.nb-gradle/

### VS Code ###
/server/.vscode/
